# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
dist/
build/

# IDEs
.vscode/
.idea/

# Config files
config.toml

# pip
*.egg-info

# sandbox
sandbox.ipynb